<svg 
  xmlns="http://www.w3.org/2000/svg"
  (mousemove)="onDrag($event)"
  (mouseup)="onDragEnd($event)"
  (mouseleave)="onDragEnd($event)"
  >
  <svg:g 
    *ngFor="let controlPoints of curvesControlPoints|keyvalue"
    app-bezier-curve 
    [controlPoints]= "controlPoints.value"
    (pointchange)="onPointChange(controlPoints.key, $event)"
    ></svg:g>
</svg>

<div 
  *ngIf="pointsLoaded"
  >
  <app-vector2-table
    *ngFor="let pts of points|keyvalue"
    [vectors]="pts.value"
    ></app-vector2-table>
</div>